In [1]:
import pandas as pd
import numpy as np

### Batch One

In [2]:
periods = [
    "#17 May 7",
    "#16 Apr 24",
    "#15 Apr 9",
    "#14 Mar 26",
    "#13 Mar 12",
    "#12 Feb 26",
    "#11 Feb 12",
    "#10 Jan 29",
    "#9 Jan 15", 
    "#8 Jan 1",
    "#7 Dec 18",
    "#6 Dec 4",
    "#2 Oct 9",

]

In [3]:
def read_period_from_sheet(period: str, batch: str) -> pd.DataFrame:
        # Load the data
        df = pd.read_excel('data/TEC Praise Quantification.xlsx', skiprows=2, sheet_name=period,engine='openpyxl', usecols="A:M")
        
        # Add a period column
        df['period'] = period
        df['batch'] = batch
        
        # Remove the validator normalization as it is confusing and unecessary for analysis
        df.columns = list(df.columns[:6]) + ['v1 norm', 'v2 norm', 'v3 norm'] + list(df.columns[9:])
        df = df.dropna(thresh=8).drop(['v1 norm', 'v2 norm', 'v3 norm'], axis=1)
        
        # Return the loaded df
        return df

In [4]:
# Load and concatenate data
data = pd.concat([read_period_from_sheet(p, batch='Batch 1') for p in periods])

In [5]:
# Combine these duplicate columns and drop the lesser named one.
df = data.copy()
# To
df['To'] = df['To'].combine_first(df['To.1']).combine_first(df['Unnamed: 12'])
df = df.drop(['To.1', 'Unnamed: 12'], axis=1)

# IH Per Praise
df['IH per Praise'] = df['IH per Praise'].combine_first(df['Cred per Praise'])
df = df.drop('Cred per Praise', axis=1)

# IH Per Person Per Period
df['IH per person'] = df['IH per person'].combine_first(df['Cred per person'])
df = df.drop('Cred per person', axis=1)

# Rename The Institution Column
df = df.rename({'Unnamed: 3':'Institution'}, axis=1)

In [6]:
df

,To,From,Reason for dishing,Institution,Date,Room,Avg %,IH per Praise,IH per person,period,batch
0,VitorMarthendal,iviangita#3204,for pushing to get the Hatch Dashboard out,Token Engineering Commons,May-07-2021,üôèpraise,0.022117,26.540405,7.559265,#17 May 7,Batch 1
1,fabiosmendes,iviangita#3204,for pushing to get the Hatch Dashboard out,Token Engineering Commons,May-07-2021,üôèpraise,0.022117,26.540405,4.814246,#17 May 7,Batch 1
2,paulo_c2d,paulo_c2d,17h of work on polishing the hatch frontend an...,PRAISE,2021-05-04 00:00:00,Commons Swarm üåê,0.021161,25.393668,10.856334,#17 May 7,Batch 1
3,sembrestels,sembrestels,12h working on adding a timelock in the create...,PRAISE,2021-05-01 00:00:00,Commons Swarm üåê,0.015942,19.129966,11.111498,#17 May 7,Batch 1
4,akrtws,iviangita,the TE Academy kickoff,PRAISE,2021-05-07 00:00:00,TE Praise,0.012335,14.802550,18.301848,#17 May 7,Batch 1
...,...,...,...,...,...,...,...,...,...,...,...
119,solsista,JessicaZartler,giving feedback on the TEC logo exercise - tha...,PRAISE,2020-09-29 00:00:00,TE Praise,0.005905,0.915204,1.029059,#2 Oct 9,Batch 1
120,solsista,krrisis,an interesting discussion on realigning incent...,PRAISE,2020-09-28 00:00:00,Commons Stack,0.000735,0.113855,1.029059,#2 Oct 9,Batch 1
121,sponnet2,GriffGreen,their INCREDIBLE progress on the CSTK token da...,PRAISE,2020-10-06 00:00:00,CS dDEV Team,0.002232,0.345931,0.345931,#2 Oct 9,Batch 1
122,tylerdmace,JessicaZartler,recording the cadCAD community call today - th...,PRAISE,2020-10-08 00:00:00,cadCAD_org,0.003023,0.468519,0.468519,#2 Oct 9,Batch 1
123,willyogo,GriffGreen,taking on huge roles in Giveth and bringing st...,PRAISE,2020-10-01 00:00:00,Commons Stack,0.000000,0.000000,0.000000,#2 Oct 9,Batch 1

### Batch Two

In [7]:
df.head(1)

,To,From,Reason for dishing,Institution,Date,Room,Avg %,IH per Praise,IH per person,period,batch
0,VitorMarthendal,iviangita#3204,for pushing to get the Hatch Dashboard out,Token Engineering Commons,May-07-2021,üôèpraise,0.022117,26.540405,7.559265,#17 May 7,Batch 1

In [8]:
periods = [
    "#5 Nov 20", 
    "#4 Nov 6", 
    "#3 Oct 23", 
    "#1 Sept 24", 
    "#0 Sept 7 (historic)", 
]

In [9]:
data2 = pd.concat([read_period_from_sheet(p, batch='Batch 2') for p in periods])

In [10]:
# Combine these duplicate columns and drop the lesser named one.
df2 = data2.copy()
# To
df2['To'] = df2['To'].combine_first(df2['To.1'])
df2 = df2.drop(['To.1'], axis=1)

# IH Per Praise
df2 = df2.rename({'Cred per Praise':'IH per Praise'}, axis=1)

# IH Per Person Per Period
df2 = df2.rename({'Cred per person':'IH per person'}, axis=1)

# Rename The Institution Column
df2 = df2.rename({'Unnamed: 3':'Institution'}, axis=1)

In [11]:
df2

,To,From,Reason for dishing,Institution,Date,Room,Avg %,IH per Praise,IH per person,period,batch
0,santigs67,GriffGreen,taking on the Legal WG and hack sessions and l...,PRAISE,2020-11-12,TE Praise,0.008474,4.491400,38.82888,#5 Nov 20,Batch 2
1,santigs67,JessicaZartler,bringing Rosa to help with website design and ...,PRAISE,2020-11-12,TE Praise,0.008067,4.275418,38.82888,#5 Nov 20,Batch 2
2,santigs67,JessicaZartler,working on our SourceCred instance and pushing...,PRAISE,2020-11-13,TE Praise,0.008067,4.275418,38.82888,#5 Nov 20,Batch 2
3,santigs67,JessicaZartler,joining a call to walk through the new tech re...,PRAISE,2020-11-13,TE Praise,0.004730,2.506961,38.82888,#5 Nov 20,Batch 2
4,santigs67,JuankBell,helping to develop a conflict management syste...,PRAISE,2020-11-06,TE Praise,0.004620,2.448672,38.82888,#5 Nov 20,Batch 2
...,...,...,...,...,...,...,...,...,...,...,...
186,rokkranjc,jeffemmett,their endless hard work (along with Michel Bau...,PRAISE,2020-08-21,Commons Stack,0.000000,0.000000,0.00000,#0 Sept 7 (historic),Batch 2
187,rubenrussel7,liviade,sharing an excerpt of the discussion we had ye...,PRAISE,2020-08-27,Commons Stack,0.000000,0.000000,0.00000,#0 Sept 7 (historic),Batch 2
188,tomerba,GriffGreen,having such a great convo in the channel (With...,PRAISE,2020-08-27,Commons Stack,0.000000,0.000000,0.00000,#0 Sept 7 (historic),Batch 2
189,yalormewn,GriffGreen,"his work on launching WhalerDAO, as well as al...",PRAISE,2020-08-27,Commons Stack,0.000000,0.000000,0.00000,#0 Sept 7 (historic),Batch 2
190,zeframl,GriffGreen,their work on launching WhalerDAO!!! (along wi...,PRAISE,2020-08-27,Commons Stack,0.000000,0.000000,0.00000,#0 Sept 7 (historic),Batch 2

### Batch 3

In [12]:
periods = [
    "#18 May 21",
    "#19 Jun 4",
    "#20 Jun 18",
]

In [13]:
data3 = pd.concat([read_period_from_sheet(p, batch='Batch 3') for p in periods])

In [14]:
data3

,To,From,Reason for dishing,Unnamed: 3,Date,Room,Avg %,IH per Praise,IH per person,Unnamed: 12,period,batch
0,chuygarcia92,Quantifiers,Adjustiments at the end,NaN,NaT,NaN,0.011725,14.070155,10.004335,chuygarcia92,#18 May 21,Batch 3
1,mzargham,Quantifiers,Adjustiments at the end,NaN,NaT,NaN,0.007988,9.585447,27.231508,mzargham,#18 May 21,Batch 3
2,iviangita,Quantifiers,Adjustiments at the end,NaN,NaT,NaN,0.007623,9.147959,15.498049,iviangita,#18 May 21,Batch 3
3,xgabi,Quantifiers,Adjustiments at the end,NaN,NaT,NaN,0.006925,8.310262,19.243945,xgabi,#18 May 21,Batch 3
4,Vyvy-vi#5040,Quantifiers,Adjustiments at the end,Token Engineering Commons,2021-05-08 00:00:00,üôèpraise,0.006104,7.324453,4.624863,Vyvy-vi#5040,#18 May 21,Batch 3
...,...,...,...,...,...,...,...,...,...,...,...,...
768,eeeit,iviangita,mentioning or retweeting Commons Stack on the ...,PRAISE,2021-06-11 00:00:00,Commons Stack,0.000225,0.270598,0.270598,eeeit,#20 Jun 18,Batch 3
769,cpt_grog,iviangita,mentioning or retweeting Commons Stack on the ...,PRAISE,2021-06-18 00:00:00,Commons Stack,0.000225,0.270598,0.270598,cpt_grog,#20 Jun 18,Batch 3
770,aidanbrodieo,iviangita,mentioning or retweeting Commons Stack on the ...,PRAISE,2021-06-18 00:00:00,Commons Stack,0.000225,0.270598,0.270598,aidanbrodieo,#20 Jun 18,Batch 3
771,adnfx2#9648,iviangita,for mentioning or retweeting Commons Stack on ...,Commons Stack,2021-06-11 00:00:00,üôåpraise,0.000225,0.270598,0.270598,adnfx2#9648,#20 Jun 18,Batch 3
772,atacas,Quantifiers,Gets paid by the Commons Stack so he only gets...,NaN,NaT,NaN,0.000000,0.000000,0.000000,atacas,#20 Jun 18,Batch 3

In [15]:
# Combine these duplicate columns and drop the lesser named one.
df3 = data3.copy()
# To
df3['To'] = df3['To'].combine_first(df3['Unnamed: 12'])
df3 = df3.drop(['Unnamed: 12'], axis=1)

# Rename The Institution Column
df3 = df3.rename({'Unnamed: 3':'Institution'}, axis=1)

In [16]:
df3

,To,From,Reason for dishing,Institution,Date,Room,Avg %,IH per Praise,IH per person,period,batch
0,chuygarcia92,Quantifiers,Adjustiments at the end,NaN,NaT,NaN,0.011725,14.070155,10.004335,#18 May 21,Batch 3
1,mzargham,Quantifiers,Adjustiments at the end,NaN,NaT,NaN,0.007988,9.585447,27.231508,#18 May 21,Batch 3
2,iviangita,Quantifiers,Adjustiments at the end,NaN,NaT,NaN,0.007623,9.147959,15.498049,#18 May 21,Batch 3
3,xgabi,Quantifiers,Adjustiments at the end,NaN,NaT,NaN,0.006925,8.310262,19.243945,#18 May 21,Batch 3
4,Vyvy-vi#5040,Quantifiers,Adjustiments at the end,Token Engineering Commons,2021-05-08 00:00:00,üôèpraise,0.006104,7.324453,4.624863,#18 May 21,Batch 3
...,...,...,...,...,...,...,...,...,...,...,...
768,eeeit,iviangita,mentioning or retweeting Commons Stack on the ...,PRAISE,2021-06-11 00:00:00,Commons Stack,0.000225,0.270598,0.270598,#20 Jun 18,Batch 3
769,cpt_grog,iviangita,mentioning or retweeting Commons Stack on the ...,PRAISE,2021-06-18 00:00:00,Commons Stack,0.000225,0.270598,0.270598,#20 Jun 18,Batch 3
770,aidanbrodieo,iviangita,mentioning or retweeting Commons Stack on the ...,PRAISE,2021-06-18 00:00:00,Commons Stack,0.000225,0.270598,0.270598,#20 Jun 18,Batch 3
771,adnfx2#9648,iviangita,for mentioning or retweeting Commons Stack on ...,Commons Stack,2021-06-11 00:00:00,üôåpraise,0.000225,0.270598,0.270598,#20 Jun 18,Batch 3
772,atacas,Quantifiers,Gets paid by the Commons Stack so he only gets...,NaN,NaT,NaN,0.000000,0.000000,0.000000,#20 Jun 18,Batch 3

### Concatenate and Load

In [17]:
data = pd.concat([df, df2, df3])

In [21]:
data.to_csv('outputs/praise_data.csv', index=False)

### Compare with IH Summary Sheet

In [18]:
data.groupby('To')[['IH per Praise']].sum().sort_values('IH per Praise', ascending=False).reset_index().head(15)

             To  IH per Praise
0    cranders71     395.743705
1     santigs67     385.274159
2     zeptimusq     370.073729
3   sembrestels     362.768658
4   ygganderson     356.526145
5     zeptimusQ     299.351804
6      solsista     291.026191
7     iviangita     256.279704
8        akrtws     247.294112
9     mateodaza     225.897277
10    Santigs67     209.551900
11    metaverde     205.641916
12   durgadasji     201.995885
13  OOPS FIX ME     175.271014
14     mzargham     149.060530

In [19]:
total_hours = pd.read_excel("data/TEC Praise Quantification.xlsx", sheet_name="Total Impact Hours so far", engine='openpyxl', header=1, index_col=0, usecols="A:D").dropna(thresh=2).reset_index()
total_hours.head(15)

,Handle,Impact Hours,Payment Status,Estimate IH if nothing was deducted
0,zeptimusq,669.466400,unpaid,NaN
1,santigs67,593.609903,unpaid,NaN
2,cranders71,394.858600,unpaid,NaN
3,ygganderson,371.543022,Partial paid,NaN
4,sembrestels,361.269427,Partial paid,NaN
5,solsista,290.377053,unpaid,NaN
6,iviangita,254.522356,Partial paid,509.044711
7,akrtws,247.108503,unpaid,NaN
8,mateodaza,224.992460,Partial paid,NaN
9,metaverde,204.586181,unpaid,NaN
10,durgadasji,201.696127,unpaid,NaN
11,juankbell,165.431131,Partial paid,NaN
12,jessicazartler,163.611904,Partial paid,NaN
13,griffgreen,148.821213,paid,992.141418
14,mzargham,148.699578,unpaid,NaN

In [22]:
total_hours.to_csv('outputs/total_hours.csv', index=False)